body {
  background: #575757;
}

/* Containers */
/* Optional to add containers in global */
/* Adding for demo purpose only */
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-radius: 16px;
}

.container .row {
  margin: 24px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .column {
  margin: 24px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
