@mixin placeholder {
  &.placeholder { @content; }
  &:-moz-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
  &::-webkit-input-placeholder { @content; }
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
 
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
@mixin flex-center-column {
  @include flex-center;
  flex-direction: column;
}
 
@mixin flex-center-vert {
  display: flex;
  align-items: center;
}
 
@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}

@mixin button {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  font-family: $typography_font-family;
  font-size: $typography_size-body-1;
  font-weight: $typography_weight-semi-bold;
}

h1 {
  font-family: $typography_font-family;
  font-weight: $typography_weight-extra-bold;
  font-size: $typography_size-header-1;
  line-height: $typography_line-height-header-1;
  margin: 0;
}

h2 {
  font-family: $typography_font-family;
  font-weight: $typography_weight-extra-bold;
  font-size: $typography_size-header-2;
  line-height: $typography_line-height-header-2;
  margin: 0;
}

h3 {
  font-family: $typography_font-family;
  font-weight: $typography_weight-bold;
  font-size: $typography_size-header-3;
  line-height: $typography_line-height-header-3;
  margin: 0;
}

p {
  margin: 0;
}