:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 8px;
  row-gap: 8px;
}

.input__icon-left {
  color: $input-left-icon-color;
}

.input__icon-right {
  color: currentColor;
}

.input__label {
  color: $input-label-color;
  font-family: $typography_font-family;
  font-size: $typography_size-body-2;
  font-weight: $typography_weight-semi-bold;
  line-height: $typography_line-height-body-2;
}

.input__field {
  outline: none;
  border: none;
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  padding: 0px;
  color: $input-text-color;
  font-family: $typography_font-family;
  font-size: $typography_size-body-2;
  font-weight: $typography_weight-regular;

  @include placeholder {
    color: $input-placeholder-color;
    font-weight: $typography_weight-semi-bold;
    opacity: 1;
  }
}

.input__wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;
  box-sizing: border-box;
  padding: 12px 16px;
  border-radius: 16px;
  border: 2px solid $input-default-border-color;
  transition: 180ms box-shadow ease-out;
  cursor: text;

  &[disabled] {
    cursor: not-allowed;
    border: 2px solid $input-disabled-border-color;
    background: $input-disabled-background-color;
  }

  &:focus-within:not([disabled]) {
    outline: 3px solid transparent;
    background-color: $input-focused-background-color;
    border-color: 2px solid $input-default-focused-border-color;
    box-shadow: $input-hover-effect;
  }

  &:hover:not([disabled]) {
    background-color: $input-focused-background-color;
    border: 2px solid $input-default-focused-border-color;
  }

  &.error {
    //background-color: #fff;
    border: 2px solid $input-error-border-color;

    &[disabled] {
      cursor: not-allowed;
      border: 2px solid $input-disabled-border-color;
      background: $input-disabled-background-color;
    }

    &:focus-within:not([disabled]) {
      outline: 3px solid transparent;
      background-color: $input-focused-background-color;
      border-color: 2px solid $input-error-focused-border-color;
      box-shadow: $input-hover-effect;
    }

    &:hover:not([disabled]) {
      background-color: $input-focused-background-color;
      border: 2px solid $input-error-focused-border-color;
    }
  }
}
