:host {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  z-index: 99999;

  box-shadow: $shadow-large;
}

:host::before {
  content: '';
  position: static;
  width: 16px;

  &.primary {
    background-color: $toast-primary-before-background-color;
  }

  &.warning {
    background-color: $toast-warning-before-background-color;
  }

  &.success {
    background-color: $toast-success-before-background-color;
  }
}

.toast-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  color: $toast-text-color;

  &.primary {
    background-color: $toast-primary-background-color;
  }

  &.warning {
    background-color: $toast-warning-background-color;
  }

  &.success {
    background-color: $toast-success-background-color;
  }
}
