.toast__wrapper {
  position: fixed;
  bottom: 3%;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 0px;
  z-index: 99;
  border-radius: 4px 0px 0px 4px;
  color: var(--toast-text-color);
  box-shadow: var(--toast-effect);
  opacity: 0;
  transform: translate3d(0, 1, 0);

  &::before {
    display: block;
    content: '';
    width: 16px;
    border-radius: 4px 0px 0px 4px;
    z-index: 100;
  }

  &.primary {
    background-color: var(--toast-primary-background-color);

    &::before {
      background-color: var(--toast-primary-before-background-color);
    }
  }

  &.danger {
    background-color: var(--toast-danger-background-color);

    &::before {
      background-color: var(--toast-danger-before-background-color);
    }
  }

  &.warning {
    background-color: var(--toast-warning-background-color);
    color: var(--toast-warning-text-color);

    &::before {
      background-color: var(--toast-warning-before-background-color);
    }
  }

  &.success {
    background-color: var(--toast-success-background-color);

    &::before {
      background-color: var(--toast-success-before-background-color);
    }
  }
}

:host([active]) {
  .toast__wrapper:not(.queued) {
    opacity: 100%;
    pointer-events: initial;
    transform: translate3d(0, -1, inherit);
  }
}

.toast__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px;
  gap: 8px;
  color: inherit;

  font-family: $typography_font-family;
  font-weight: $typography_weight-semi-bold;
  font-size: $typography_size-body-1;
  line-height: $typography_line-height-body-1;
}