:host {
  display: flex;
}

.btn {
  border-radius: 8px;
  border: none;
  cursor: pointer;
  outline: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  font-family: $typography_font-family;
  font-size: $typography_size-body-1;
  font-weight: $typography_weight-semi-bold;
  line-height: $typography_line-height-body-1;
  transition: 180ms box-shadow ease-in-out;
  
  &.primary {
    background: var(--button-primary-background-color);
    color: var(--button-primary-text-color);

    &[disabled] {
      cursor: not-allowed;
      background: var(--button-primary-disabled-background-color);
      color: var(--button-primary-disabled-color);
    }

    &:focus:not([disabled]) {
      background: var(--button-primary-focused-background-color);
    }

    &:hover:not([disabled]) {
      background: var(--button-primary-focused-background-color);
      box-shadow: var(--button-hover-effect);
    }
  }

  &.secondary {
    background: var(--button-secondary-background-color);
    color: var(--button-secondary-text-color);

    &[disabled] {
      cursor: not-allowed;
      background: none;
      outline: var(--button-secondary-disabled-border-color) solid 1px;
      outline-offset: -1px;
      color: var(--button-secondary-disabled-color);
    }

    &:focus:not([disabled]) {
      background: var(--button-secondary-focused-background-color);
    }

    &:hover:not([disabled]) {
      background: var(--button-secondary-focused-background-color);
      box-shadow: var(--button-hover-effect);
    }
  }

  &.tertiary {
    background: var(--button-tertiary-background-color);
    color: var(--button-tertiary-text-color);

    &[disabled] {
      cursor: not-allowed;
      background: var(--button-tertiary-disabled-background-color);
      color: var(--button-tertiary-disabled-color);
    }

    &:focus:not([disabled]) {
      background: var(--button-tertiary-focused-background-color);
    }

    &:hover:not([disabled]) {
      background: var(--button-tertiary-focused-background-color);
      box-shadow: var(--button-hover-effect);
    }
  }

  &.danger {
    background: var(--button-danger-background-color);
    color: var(--button-danger-text-color);

    &[disabled] {
      cursor: not-allowed;
      background: none;
      outline: var(--button-danger-disabled-border-color) solid 1px;
      outline-offset: -1px;
      color: var(--button-danger-disabled-color);
    }

    &:focus:not([disabled]) {
      background: var(--button-danger-focused-background-color);
    }

    &:hover:not([disabled]) {
      background: var(--button-danger-focused-background-color);
      box-shadow: var(--button-hover-effect);
    }
  }
}
