.radio__wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;

  color: $neutral-900;
  font-family: $typography_font-family;
  font-size: $typography_size-body-2;
  font-weight: $typography_weight-regular;
  line-height: $typography_line-height-body-2;

  * {
    transition: all 120ms linear;
  }
}

.radio__wrapper input[type="radio"]:focus-within {
  color: $primary-600;
}

input[type="radio"] {
  cursor: inherit;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  flex-shrink: 0;

  font: inherit;
  color: currentColor;
  width: 18px;
  height: 18px;
  border: 2px solid $primary-400;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  transition: 100ms transform ease-in-out;
  background-color: $primary-600;
  //box-shadow: inset 10px 10px $primary-600;
}

input[type="radio"]:hover {
  border-color: $primary-600;
}

input[type="radio"]:checked::before {
  border-color: $primary-600;
  transform: scale(1);
}

input[type="radio"]:checked {
  border-color: $primary-600;
}

input[type="radio"]:focus {
  outline: max(3px, 2px) solid $primary-300; 
  outline-offset: max(3px, 2px);
}

input[type='radio']:focus:not(:focus-visible) {
  outline: none;
}

input[type='radio']:disabled {
  cursor: not-allowed;
  border-color: $neutral-700;
  background-color: $neutral-300;

  &::before {
    box-shadow: insert 1;
    background-color: $neutral-700;
  }

  & ~ .radio__label {
    cursor: default;
    color: $neutral-600;
  }
}
