.checkbox__wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  align-items: center;

  color: $neutral-900;
  font-family: $typography_font-family;
  font-size: $typography_size-body-2;
  font-weight: $typography_weight-regular;
  line-height: $typography_line-height-body-2;
}

.checkbox__wrapper input[type='checkbox'] {
  position: absolute;
  width: 18px;
  height: 18px;
  opacity: 0.00001;
}

.checkbox__wrapper input[type='checkbox']:hover + svg {
  .checkbox__box {
    stroke: $primary-600;
  }
}

.checkbox__wrapper svg {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  .checkbox__box {
    color: $primary-400;
  }

  .checkbox__check {
    display: none;
  }

  * {
    transition: all 120ms linear;
  }
}

.checkbox__wrapper input[type='checkbox']:checked + svg {
  .checkbox__box {
    fill: $primary-600;
    stroke: $primary-600;
  }

  .checkbox__check {
    display: block;
    stroke: $primary-100;
  }
}

.checkbox__wrapper input[type='checkbox']:focus + svg {
  outline: 3px solid $primary-300;
  outline-offset: 3px;
}

.checkbox__wrapper input[type='checkbox']:focus:not(:focus-visible) + svg {
  outline: none;
}

.checkbox__wrapper input[type='checkbox']:disabled {
  cursor: not-allowed;

  & ~ .checkbox__label {
    cursor: default;
    color: $neutral-600;
  }

  & + svg {
    .checkbox__box {
      cursor: not-allowed;
      fill: $neutral-300;
      stroke: $neutral-700;
      color: $neutral-700;
    }

    .checkbox__check {
      cursor: not-allowed;
      display: block;
      stroke: $neutral-300;
    }
  }
}

/* WHCM styles */
.checkbox__wrapper svg {
  @media screen and (-ms-high-contrast: active) {
    rect {
      stroke: windowText;
    }
  }
}

@media screen and (-ms-high-contrast: active) {
  .checkbox__wrapper input[type='checkbox']:checked ~ svg {
    rect {
      fill: windowText;
    }

    polyline {
      stroke: highlight;
    }
  }
}
